/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/
:root {
  --bucket-download-color: #060;
  --bucket-text-info-color: #d3d3d3;
}

/* --------- SPIN ANIMATION ---------- */
@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* --------- END SPIN ANIMATION ---------- */

.bucket-container,
.tvb-bucketWidget {
  background-color: var(--jp-layout-color1);
  list-style-type: none;
}

.bucket-BreadCrumbs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.bucket-BreadCrumbs-Item {
  cursor: pointer;
  color: var(--md-blue-500);
}

.bucket-BreadCrumbs-Item:hover {
  background-color: var(--jp-layout-color2);
}

.bucket-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bucket-container ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
}

.bucket-BrowserListItem:hover {
  background-color: var(--jp-layout-color2);
}

.bucket-ContextMenu-container {
  position: relative;
}

.bucket-ContextMenu {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 10000;
  padding: 4px 0;
  font-size: var(--jp-ui-font-size1);
  background: var(--jp-layout-color0);
  color: var(--jp-ui-font-color1);
  border: var(--jp-border-width) solid var(--jp-ui-font-size1);
  box-shadow: var(--jp-elevation-z6);
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  opacity: 1;
  width: 200px;
}

.bucket-ContextMenu-item {
  min-height: var(--jp-private-menu-item-height);
  max-height: var(--jp-private-menu-item-height);
  line-height: var(--jp-private-menu-item-height);
}

.bucket-ContextMenu-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bucket-ContextMenu li:hover {
  background-color: var(--jp-layout-color2);
}

.collab-logo {
  display: inline-block;
  background-image: url(Collaboratory_bucket_simple.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 30px;
  margin-left: 1em;
}

.bucket-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bucket-logo-text {
  margin-left: 0.2em;
  font-size: 1.2em;
  display: inline-block;
}

.bucket-CollabLogo {
  background-image: url(hdd-o-4.svg);
  filter: opacity(70%);
}

.bucket-Spinner {
  display: inline-block;
  border: 3px solid #7f7f7f;
  border-left: 3px solid #4ec261;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  margin: 0 0.5em;
  animation: spin 0.5s infinite linear;
}

.bucket-home {
  cursor: pointer;
  padding: 0 3px;
  display: inline-block;
}

.bucket-home:hover {
  background-color: var(--jp-layout-color2);
}

.align-flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

@keyframes rain {
  0% {
    top: -1em;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    top: 1em;
    opacity: 0;
  }
}

/* download animation style */
.bucket-DownloadAnimation {
  display: inline-block;
  z-index: 2;
  position: relative;
  height: 0.8em;
  width: 1em;
  margin-left: 0.5em;
  margin-top: 0.2em;
  overflow: hidden;
  border-top: solid 1px var(--bucket-download-color);
}

.bucket-DownloadAnimation i {
  color: var(--bucket-download-color);
  position: absolute;
  z-index: 1;
  animation: linear 0.5s rain infinite;
}

/* end download animation style */

/* upload animation style */
.bucket-UploadAnimation {
  display: inline-block;
  z-index: 2;
  position: relative;
  height: 0.8em;
  width: 1em;
  margin-left: 0.5em;
  margin-top: 0.2em;
  overflow: hidden;
  border-top: solid 1px var(--bucket-download-color);
}

.bucket-UploadAnimation > :first-child {
  color: var(--bucket-download-color);
  position: absolute;
  z-index: 1;
  animation: reverse 0.5s rain infinite;
}

/* end upload animation style */

.bucket-DropZone {
  margin: 0 auto;
  padding: 0.5em;
  width: 90%;
  height: 4em;
  border: dashed 2px var(--bucket-text-info-color);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default {
  border-color: var(--bucket-text-info-color);
}

.hover {
  border-color: black;
}

.bucket-text-info {
  color: var(--bucket-text-info-color);
  font-style: italic;
}

.bucket-Tooltip {
  position: absolute;
  top: 5vh;
  z-index: 99;
  width: 100%;
  height: 4em;
  background-color: var(--jp-layout-color1);
  border-radius: 7px;
  box-shadow: var(--jp-elevation-z6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.bucket-ShareLink {
  color: var(--md-blue-500);
}

.bucket-ShareLink:hover {
  text-decoration: underline;
}

.scrollableY {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.bucket-container ul.available-buckets {
  max-height: 40vh;
  position: absolute;
  top: 4.5em;
  z-index: 9999;
  background-color: var(--jp-layout-color1);
  box-shadow: var(--jp-elevation-z6);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

.bucket-container ul.available-buckets > li:hover {
  background-color: var(--jp-layout-color2);
  cursor: pointer;
}

.bucket-Settings {
  position: absolute;
  z-index: 9999;
  background-color: var(--jp-layout-color1);
  box-shadow: var(--jp-elevation-z6);
  top: 2em;
  right: 1em;
  left: 1em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.bucket-Settings h4 {
  margin: 0;
  font-weight: 600;
}

.bucket-Settings-toggle {
  display: inline-block;
  margin-left: auto;
  margin-right: 1em;
  cursor: pointer;
}

.bucket-Settings-container {
  margin-right: 0;
  margin-left: auto;
}
